# Compiled Object files
1;4602;0c*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
votes
test
MyriaStore.*
MyriaStore
postgres_stuff/print_causal
postgres_stuff/print_strong
postgres_stuff/sync
vm
